Repository ben38FLman/azure-chatbot-sidecar: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-basic.yml, azure-pipelines-storage.yml, azure-pipelines.yml

azure-pipelines-basic.yml:
  stages:
  - stage: ValidateAndDeploy
    displayName: üöÄ Validate & Deploy Application Gateway
    jobs:
    - job: DeployBasicAppGateway
      displayName: Deploy Basic Application Gateway
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

azure-pipelines-storage.yml:
  stages:
  - stage: ValidateStorage
    displayName: 🔍 Validate Storage Template
    jobs:
    - job: ValidateTemplate
      displayName: Validate Storage Account Template
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        displayName: Checkout Repository
      - task: PowerShell@2
  ...

azure-pipelines.yml:
  stages:
  - stage: Validate
    displayName: üîç Validate ARM Template
    jobs:
    - job: ValidateTemplate
      displayName: Validate Application Gateway Template
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        displayName: Checkout Repository
      - task: AzureCLI@2
  ...

Deleted parameters.json
  ARM_Deployments/Storage/parameters.json
Due: azure-pipelines-storage.yml

Deleted StorageAccount.json
  ARM_Deployments/Storage/StorageAccount.json
Due: azure-pipelines-storage.yml

Updated ApplicationGateway-Basic.json
  ARM_Deployments/AppGateway/ApplicationGateway-Basic.json
Due: azure-pipelines-basic.yml, azure-pipelines.yml

Merge pull request 1 from invBootstrap into main
  es-metadata.yml
Due: none

feat: Add AI Chatbot with LLM Sidecar Architecture
  ARM_Deployments/AppGateway/ApplicationGateway.bicep
  ARM_Deployments/AppGateway/ApplicationGateway.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService-prod.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService-staging.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService.bicepparam
  ARM_Deployments/ChatbotAppService/src/.env.example
  ARM_Deployments/ChatbotAppService/src/Dockerfile
  ARM_Deployments/ChatbotAppService/src/README.md
  ARM_Deployments/ChatbotAppService/src/docker-compose.yml
  ARM_Deployments/ChatbotAppService/src/package.json
  ARM_Deployments/ChatbotAppService/src/server.js
  ARM_Deployments/ChatbotAppService/src/services/chatService.js
  ARM_Deployments/ChatbotAppService/src/services/llmService.js
  ARM_Deployments/Storage/StorageAccount.bicep
  ARM_Deployments/Storage/StorageAccount.bicepparam
  azure-pipelines-bicep.yml
  azure-pipelines-chatbot.yml
  azure-pipelines-storage-bicep.yml
  azure-pipelines-storage.yml
Due: azure-pipelines-basic.yml, azure-pipelines-storage.yml, azure-pipelines.yml

fix: Add simplified chatbot deployment to resolve pipeline errors
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Simple.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Simple.bicepparam
  azure-pipelines-chatbot-simple.yml
Due: none

fix: Add minimal test deployment and fix location parameters
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Minimal.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Minimal.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Simple.bicepparam
  azure-pipelines-chatbot-minimal.yml
Due: none

feat: Add Azure App Service sidecar-based chatbot solution
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Sidecar.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Sidecar.bicepparam
  ARM_Deployments/ChatbotAppService/sidecar-app/.gitignore
  ARM_Deployments/ChatbotAppService/sidecar-app/app.js
  ARM_Deployments/ChatbotAppService/sidecar-app/package.json
  ARM_Deployments/ChatbotAppService/sidecar-app/public/index.html
  azure-pipelines-sidecar.yml
Due: none

fix: Correct YAML indentation in sidecar pipeline
  azure-pipelines-sidecar.yml
Due: none

feat: Add Azure App Service with AI Sidecar implementation
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Minimal.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Minimal.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Sidecar.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Simple.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Simple.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService-prod.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService-staging.bicepparam
  ARM_Deployments/ChatbotAppService/ChatbotAppService.bicep
  ARM_Deployments/ChatbotAppService/ChatbotAppService.bicepparam
  ARM_Deployments/ChatbotAppService/DEPLOYMENT_GUIDE.md
  ARM_Deployments/ChatbotAppService/PIPELINE_SETUP.md
  ARM_Deployments/ChatbotAppService/deploy.ps1
  ARM_Deployments/ChatbotAppService/deploy.sh
  ARM_Deployments/ChatbotAppService/parameters-production.bicepparam
  ARM_Deployments/ChatbotAppService/sidecar-app/.env.example
  ARM_Deployments/ChatbotAppService/sidecar-app/.gitignore
  ARM_Deployments/ChatbotAppService/sidecar-app/app.js
  ARM_Deployments/ChatbotAppService/sidecar-app/package.json
  ARM_Deployments/ChatbotAppService/sidecar-app/public/index.html
  ARM_Deployments/ChatbotAppService/sidecar-app/public/script.js
  ARM_Deployments/ChatbotAppService/sidecar-app/public/style.css
  ARM_Deployments/ChatbotAppService/src/.env.example
  ARM_Deployments/ChatbotAppService/src/Dockerfile
  ARM_Deployments/ChatbotAppService/src/README.md
  ARM_Deployments/ChatbotAppService/src/docker-compose.yml
  ARM_Deployments/ChatbotAppService/src/package.json
  ARM_Deployments/ChatbotAppService/src/server.js
  ARM_Deployments/ChatbotAppService/src/services/chatService.js
  ARM_Deployments/ChatbotAppService/src/services/llmService.js
  azure-pipelines-sidecar.yml
Due: none

feat: Add GitHub Codespace configuration for Azure deployment
  .devcontainer/devcontainer.json
  CODESPACE_README.md
  codespace-deploy.sh
Due: none

feat: Update implementation to match Azure-Samples pattern
  .devcontainer/devcontainer.json
  ARM_Deployments/AppGateway/ApplicationGateway.bicep
  ARM_Deployments/AppGateway/ApplicationGateway.bicepparam
  ARM_Deployments/AppGateway/ApplicationGateway.json
  ARM_Deployments/AppGateway/DEPLOYMENT_GUIDE.md
  ARM_Deployments/AppGateway/PIPELINE_SETUP.md
  ARM_Deployments/AppGateway/README.md
  ARM_Deployments/AppGateway/deploy.ps1
  ARM_Deployments/AppGateway/deploy.sh
  ARM_Deployments/AppGateway/parameters-basic.json
  ARM_Deployments/AppGateway/parameters-pipeline.json
  ARM_Deployments/AppGateway/parameters.json
  ARM_Deployments/AppGateway/readme
  ARM_Deployments/AppGateway/test-deployment.ps1
  ARM_Deployments/ChatbotAppService/ChatbotAppService-Sidecar.bicep
  ARM_Deployments/ChatbotAppService/sidecar-app/app.js
  ARM_Deployments/ChatbotAppService/troubleshoot-deployment.ps1
  ARM_Deployments/Storage/StorageAccount-Basic.json
  ARM_Deployments/Storage/StorageAccount.bicep
  ARM_Deployments/Storage/StorageAccount.bicepparam
  ARM_Deployments/Storage/StorageAccount.json
  ARM_Deployments/Storage/parameters-basic.json
  ARM_Deployments/Storage/parameters.json
  PIPELINE_USAGE_GUIDE.md
  QUICK_SETUP.md
  azure-pipelines-basic.yml
  azure-pipelines-bicep.yml
  azure-pipelines-chatbot-minimal.yml
  azure-pipelines-chatbot-simple.yml
  azure-pipelines-chatbot.yml
  azure-pipelines-generic.yml
  azure-pipelines-storage-bicep.yml
  azure-pipelines-storage.yml
  azure-pipelines.yml
  codespace-deploy.sh
  pipeline-variables.yml
Due: azure-pipelines-basic.yml, azure-pipelines-storage.yml, azure-pipelines.yml

feat: Add clean devcontainer with Azure CLI and Node.js
  .devcontainer/devcontainer.json
  README.md
Due: none

fix: Simplify devcontainer and add backup Azure CLI setup script
  .devcontainer/devcontainer.json
  setup-azure-cli.sh
Due: none

Path conditions:
  azure-pipelines-basic.yml: any of: ARM_Deployments/AppGateway
  azure-pipelines-storage.yml: any of: ARM_Deployments/Storage
  azure-pipelines.yml: any of: ARM_Deployments/AppGateway
